body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #e0f7fa;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: center;
}

.bienvenida h2 {
  color: #085e6a;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 8px;
}

.subtitulo {
  color: #0288d1;
  font-size: 18px;
  margin-bottom: 35px;
  font-style: italic;
}

.resaltado {
  color: #0288d1;
}
#info {
  text-align: left;
  margin-top: 30px;
}

#izq_info {
  background-color: #f1f8e9;
  padding: 20px;
  border-radius: 10px;
}

.subT {
  font-size: 18px;
  color: #00796b;
  margin-bottom: 10px;
}

#izq_info p {
  margin: 10px 0;
  font-size: 15px;
  color: #333;
}

.info label {
  font-weight: bold;
  color: #555;
  display: block;
  margin-top: 10px;
}

.info span {
  display: block;
  margin-left: 10px;
  margin-top: 2px;
  font-size: 15px;
  color: #333;
}

.boton-enlace {
  display: inline-block;
  width: 70%;
  background-color: #0288d1;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.boton-enlace:hover {
  background-color: #01579b;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px; /* antes era 15px */
}

.boton-enlace2 {
  display: inline-block;
  width: 20%;
  background-color: #0288d1;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  margin-top:40px;
  transition: background-color 0.3s;
}

.boton-enlace2:hover {
  background-color: #01579b;
}
