body {
  font-family: Arial, sans-serif;
  background-color: #f2f4f8;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.tabla-container {
  overflow-x: auto;
  max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px 15px;
  text-align: center;
  border: 1px solid #ccc;
}

th {
  background-color: #007acc;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

button {
  margin: 2px;
  padding: 5px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.btn-debito {
  background-color: #4CAF50;
  color: white;
}
.btn-credito {
  background-color: #2196F3;
  color: white;
}
.btn-cancelar {
  background-color: #f44336;
  color: white;
}

.btnCancelar {
  background-color: #dc3545;
}
